.container{
    background-color: beige;
    border: 15px solid green;
    width: 1000px;
    padding: 100px;
    margin-top: 40px;
    margin-left: 80px;
    padding-right: 60px;
}

H1{
    font-variant: initial ;

.row1{
    border: 15px solid blue;
}

.row2{
    border: 15px solid brown;
}

.row{
    border: 15px solid hotpink;
}